<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
	<nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <%= image_tag "world-thoughts-logo-v2.png", height: "60", width: "180" %>
		</div>
		
		<ul class="nav navbar-nav navbar-right pull-right">
			<li><%= button_to "Add your thought!", new_thought_path, :class => "btn btn-lg btn-primary", :method => :get  %></li>
			<li><%= link_to "About", static_pages_about_path %></li> 
			<li><%= link_to "FAQ", static_pages_faq_path %></li> 
		</ul>
	  </div>
	</nav>
</div>
	<div class="container">
		<center>
			<h3><b>
				How does it work?: </br></b>
				The purpose of the site is too show what the world is thinking right now! </br>
				
				For now the site is completely anonymous, might implement some user system later. </br>
			</h3>
		</center>
	</div>
</body>