<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
	<nav class="navbar navbar-inverse navbar-static-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <%= link_to image_tag( "world-thoughts-logo-v3.png", height: "40", width: "170"), root_path %>
		</div>
		
		<ul class="nav navbar-nav navbar-right pull-right">
			<li><%= link_to "FAQ", static_pages_faq_path %></li> 
			<li><%= button_to "Add your thought!", new_thought_path, :class => "btn btn-lg btn-primary", :method => :get  %></li>
		</ul>
	  </div>
	</nav>
</div>
	<div class="container">
		<center>
			<h4>
			<p>
			    <b>How does it work?: </br></b>
				The purpose of the site is too show what the world is thinking right now. The site always only shows
				the newly posted thoughts, up to a certain amount. So everytime you update the site you might see new 
				thoughts on the top depending on how many are posting. Only the latest 100 posts are saved in the database, 
				nothing else is saved.
				</br></br>
				In the future, if more people are using the site and many thoughts are posted, I want the site to show a 
				continous flow of thoughts for people to see. So you can visit the site when you want to see the latest thoughts
				of people around the world.
			</p>
			 </br> </br>
            <p>			
			    <b>Is it anonymous?: </br></b>
				Yes! For now the site is completely anonymous, only the latest 100 posts are saved in the database 
				nothing else is saved.
				</br></br>
				If the site becomes popular enought, I might implement a user system. If that is what the users want. </br>
			</p>
			 </br> </br>
			<p>			
			    <b>Any questions or suggestions about the site can be sent to the following email: </br></b>
				<a href="mailto:wworldsthoughts@gmail.com">wworldsthoughts@gmail.com</a>
</p>
				
			</p>
			</h4>
		</center>
	</div>
</body>