@import "bootstrap";

.navbar-header {
    float: left;
    text-align: center;
    width: auto;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-brand {
	float: none;
}

.panel-body  {
    word-break:break-all
}